lab3/work/_info
lab3/work/_info
/lab3/work
/lab3/work
/lab3/work
lab3/work/_lib1_9.qpg
lab3/work/_lib1_9.qdb
lab3/work/_lib1_9.qtl
lab3/work/_lib1_9.qpg
lab3/work/_lib1_9.qdb
lab3/work/_lib.qdb
lab3/work/_info
lab4/work
*.qdb
/lab4/work
*.mpf
*.mti
*.mpf
/lab4/work
