lab3/work/_info
lab3/work/_info
/lab3/work
/lab3/work
/lab3/work
lab3/work/_lib1_9.qpg
lab3/work/_lib1_9.qdb
lab3/work/_lib1_9.qtl
lab3/work/_lib1_9.qpg
lab3/work/_lib1_9.qdb
lab3/work/_lib.qdb
lab3/work/_info
lab4/work
*.qdb
/lab4/work
*.mpf
*.mti
lab4/lab4.cr.mti
*.mpf
/lab4/work
*.mti
*.mpf
/lab4/work

/lab4/work
/lab4/work
*.wlf
*.mpf
*.mti
lab4/work/_lib.qdb
lab4/work/_info
lab4/vsim.wlf
lab4/lab4.mpf
lab4/lab4.cr.mti
*.mti
*.mpf
*.qtl
*.qpg
*.qtl
*.qpg
lab4b/work/_info
/lab5/work
/lab5/quartus
lab5/wave.do
lab6/work/_info
lab6/work/_vmake
/lab6/quartus
lab6/provided/dmem.pdf
